/* mainstuff */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.js-add-new-bookmark {
  background-color: rgb(27, 112, 112);
}


.js-bookmark-item {
  background-color: rgb(27, 112, 112);
}


main {
  margin: 0 auto;
}

h1 {
  font-family: "Comic Sans MS";
  font-size: 3.5rem;
  
  text-align: center;
  margin: 0 auto .33em;
}

h2, h3 {
  font-family: "Comic Sans MS";
  font-size: 1.6rem;
  margin: 0;
}

.container {
  margin: 0 auto;
}

.bookmark-list {
  list-style: none;
  padding-left: 0;
}

.bookmark-list > li {
  border: 1px solid #C4C4C4;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.bookmark-name {
  background-color: #C4C4C4;
  margin: 0;
  padding: 0;
}

/*------ error -------*/
.error-container {
  color: red;
  font-weight: bold;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
}

/* flex */
.left-side {
  flex: 1;
}

.right-side {
  flex: 2;
  text-align: end;
}

.flex-link {
  flex: 1;
  margin: auto;
}

.flex-desc {
  flex: 3;
  cursor: pointer;
  margin: 0 20px;
  font-size: large;
  padding: 5px;
}

.flex-button {
  padding: 20px;
}

.top-half {
  background-color: black;
  color: white;
  flex: 1;
  padding: 1rem;
}

.bottom-half {
  background-color: rgb(27, 112, 112);
  flex: 1;
  padding: 1rem;
}

.even-flex {
  display: flex;
  justify-content: space-evenly;
}

.flex-between, .flex-details {
  background-color: rgb(27, 112, 112);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-details {
  margin: 20px 0 0 20px;
}

.flex-direction {
  flex-direction: column;
}

/* inputs */
input {
  border: none;
}

button, input[type="text"], select.js-filter-rating {
  padding: 5px;
  font-size: 1.5rem;
  font-variant: small-caps;
}

button.js-add-bookmark, select.js-filter-rating {
  min-width: 45%;
}

select option {
  font-size: 10px;
}

option {
  font-size: 18px;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(4px);
  box-shadow: 2px 2px 5px #c4c4c4;

}

textarea {
  font-family: "Comic Sans MS";
  height: 90px;
  font-size: 1rem;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
}

.textarea-newadd {
  width: 100%;
}

.js-bookmark-url-entry, .js-bookmark-title-entry {
  width: 100%;
}

legend {
  font-family: "Comic Sans MS";
  
  font-size: 1.8rem;
  font-variant: small-caps;
}

.expand-buttons {
  margin-left: 25px;
  min-width: 75px;
}

.padding {
  padding: 25px;
}

.add-button {
  max-width: 50%;
  text-align: center;
  margin-top: 10px;
}
fieldset {
  max-width: 100%;
}

/* Stars */
.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
  padding-top: 10px;
}

.rating label:last-child .icon {
  color: #c4c4c4;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #c013cf;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #c4c4c4;
}

.background-stars {
  color: #c4c4c4;
  position: absolute;
  z-index: 1;
}

.colored-stars {
  color: #c013cf;
  position: absolute;
  z-index: 2;
}

.star-size {
  font-size: 30px;
  margin-top: 10px
}

@media all and (min-width: 800px) {
  body {
    max-width: 800px;
  }

  button.js-add-bookmark, select.js-filter-rating {
    width: 225px;
    min-width: 0px;
  }

  .flex-direction {
    flex-direction: row;
  }

  .flex-desktop {
    width: 50%;
  }

  .flex-desc {
    flex: 4;
  }
}
 